@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:ital,wght@0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500&family=Nunito:wght@500&family=Poppins:ital,wght@0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Fira+Sans:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.788),rgba(0,0,0,0.747)), url(../img/wallpaperflare.com_wallpaper.jpg);
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.logo{
    padding: 22px;
    margin-left: 5rem;
}
.navbar_logo{
    color: #7a3406;
    font-family: 'Fira Sans', sans-serif;
    font-size: 35px;
    text-decoration: none;
}
.logo span{
    color: aqua;
}
.navbar ul{
    float: right;
    margin-top: -5rem;
    margin-right: 10rem;
}
.navbar ul li{
    display: inline-block;
    position: relative;
    margin: 24px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background-color: rgb(221, 209, 33);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: .5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.btn-1{
    padding: .8rem 2.5rem;
    border-radius: 50px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border: none;
    background-color: rgb(221, 209, 33);
    color: rgba(66, 3, 3, 0.534);
    position: relative;
}
.btn-1:hover{
    transform: scale(1.1);
    background: transparent;
    color: rgb(221, 209, 33);
    border-radius: 50px;
    font-size: 1rem;
    border: none;
}
.headline{
    margin-left: 1.5rem;
}
.headline h1{
    color: aliceblue;
    margin-top: 8rem;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.headline span{
    color: rgb(221, 209, 33);    
}
.headline h4{
    color: aliceblue;
    margin: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 4rem;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 4
    00;
}
.headline p{
    color: aliceblue;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    font-family: 'Edu SA Beginner', cursive;
}
.headline p1{
    color: aliceblue;
    margin: 2.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 0.75rem;
    font-family: 'Nunito', sans-serif;
}
.btn-3{
    padding: .8rem 2.5rem;
    border-radius: 50px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border: 2px solid rgb(221, 209, 33);
    background: transparent;
    color: aliceblue;
    margin: 15px;
    margin-bottom: .25rem;
    transition: .3s;
    position: relative;
}
.btn-3:hover{
    transform: scale(1.1);
    background: transparent;
    color: rgba(66, 3, 3, 0.534);
    background-color: rgb(221, 209, 33);
    border: 2px solid rgba(66, 3, 3, 0.534);
}
.container{
    max-width: 600px;
    width: 100%;
    padding: 20px;
    margin-top: 60px;
    right: 1px;
    font-family: sans-serif;
    border-bottom: 0px 0px 20px #00000020;
    border-radius: 8px;
    position: relative;
    background: linear-gradient(135deg, #e79660a1 0%, #dbe468ab 100%);
    overflow: auto;
}
.container h2{
    text-align: center;
    margin-bottom: 40px;
    margin-top: -20px;
    color: #7a3406;
}
form{
    padding: 40px;
}
.form-group {
    width: 100%;
    margin-top: 20px;
}
.form-group input{
    width: 100%;
    border: 1.5px solid rgba(66, 3, 3, 0.534);
    padding: 15px 10px;
    font-size: 14px;
    border-radius: 4px;
}
.form-group-1 {
    margin-top: 20px;
    display: flex;
}
.form-group-1 label {
    font-size: 12px;
    padding-left: 5px;
}
button.btn-2 {
    text-align: center;
    margin-top: 17px;
    padding: 12px 12.9rem;
    border:none;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #eb650b 0%, #dae911 100%);
    color: rgb(68, 29, 2);
    font-size: 18px;
    font-family: sans-serif;
    cursor: pointer;
}
button.btn-2:hover{
    background: linear-gradient(135deg, #eb650ba1 0%, #dbe911ab 100%);
}
.loginarea{
    text-align: center;
    margin-top: 17px;
    font-size: 14px;
    margin-bottom: -24px;
}
.loginhere{
    font-size: 14px;
}